@import '../../../styles/variables';

.card-container {
    @include card-styles();
    position: relative;
    min-height: 180px;
    .card-header {
        font-size: cssvar(font-l);
        font-weight: bold;
        margin-bottom: cssvar(padding-20);
    }
    .card-content {
        display: flex;
        .card-content-left {
            display: flex;
            flex-direction: column;
            .personal-info {
                font-size: cssvar(font-s);
                .last-name,
                .email {
                    margin-bottom: cssvar(padding-5);
                }
            }
            .contact-methods-title {
                font-size: cssvar(font-s);
                margin: cssvar(padding-10) 0;
            }
            .contact-methods {
                display: flex;
                color: cssvar(black);
                flex-wrap: wrap;
                .contact-method {
                    width: 50%;
                    margin-bottom: cssvar(padding-10);
                    a {
                        color: cssvar(black);
                    }
                }
            }
        }
        .card-content-right {
            .card-image {
                img {
                    width: 100px;
                }
            }
        }
    }
    
}

@media only screen and (max-width: 575px) {
    .card-container {
        .card-content {
            .personal-info {
                width: 50%;
            }
            .contact-methods {
                flex-wrap: nowrap;
            }
        }
        .card-image {
            img {
                width: 80px;
            }
        }
    }
}