@import '../../../styles/variables';

#professional-xp-feature {
    display: flex;
    .professional-xp-container {
        background: url("../../../assets/work.jpg") center center no-repeat;
        background-size: cover;
        width: 100%;
        padding: cssvar(padding-20);
        .professional-xp-title {
            @include section-title();
        }
        .cards-container {
            display: flex;
            flex-direction: column;
            professional-xpcard {
                margin-bottom: cssvar(padding-20);
            }
        }
    }

}