@import '../../../styles/variables';

// LESS Than 575px should collapse the navbar
:host(.hide) {
  .navbar-container {
    transform: translateY(-40px);
    transition: all 0.5s ease-in;
  }
}

:host(.show) {
  .navbar-container {
    transform: translateY(0px);
    transition: all 0.5s ease-in;
  }
}

@mixin link-style() {
    flex: 1;
    font-family: $lato;
    font-weight: bold;
    color: cssvar(white);
    a {
      text-decoration: none;
      &:hover {
        color: cssvar(yellow);
      }
    }
}

.navbar-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: cssvar(dark);
  overflow: hidden;
  z-index: 100;
  .navbar-row {
    position: relative;
    display: flex;
    .navbar-collapsible {
      display: none;
      color: cssvar(white);
      padding-left: cssvar(padding-20);
    }
    .navbar-collapsible-links {
      position: absolute;
      top: 39px;
      background: cssvar(dark);
      padding: cssvar(padding-10);
      border-radius: 4px;
      .navbar-link {
        @include link-style();
        padding-bottom: cssvar(padding-5);
      }
    }
    .navbar-title {
      display: flex;
      font-family: $lato;
      font-weight: bold;
      margin: cssvar(padding-10) cssvar(padding-15);
      color: cssvar(yellow);
    }
    .navbar-links {
      display: flex;
      flex: 1;
      justify-content: space-between;
      align-items: center;
      font-size: 13px;
      .navbar-link {
        @include link-style();
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 575px) {
  .navbar-container {
    overflow: visible;
    .navbar-row {
      height: 40px;
      align-items: center;

      .navbar-collapsible {
        display: block;
        flex: 0.5;
      }
      .navbar-links {
        display: none;
      }
    }
  }
}
