
// Font Variations
$lato: "Lato", sans-serif;
$bungee: "Bungee", cursive;
$shrikhand: "Shrikhand", cursive;
$source-code: "Source Code Pro", monospace;
$lobster: "Lobster", cursive;
$cabin: "Cabin Condensed", sans-serif;
$roboto: "Roboto", sans-serif;

// Font Sizes
$section-title: 40px;
$font-xxl: 28px;
$font-xl: 20px;
$font-l: 17px;
$font-m: 15px;
$font-s: 13px;
$font-xs: 10px;

// Paddings
$padding-5: 0.3125rem;
$padding-10: 0.625rem;
$padding-15: 0.9375rem;
$padding-20: 1.25rem;
$padding-25: 1.5625rem;
$padding-30: 1.875rem;
$padding-35: 2.1875rem;
$padding-40: 2.5rem;

// Colors 
$yellow: #feda4a;
$yellow-dark: #f7de83;
$white: floralwhite;
$dark: #292b2c;
$black: black;
$stable: #fafafa;

$colors_map: (
    yellow: $yellow,
    yellow-dark: $yellow-dark,
    white: $white,
    dark: $dark,
    black: $black,
    stable: $stable
);

$paddings-map: (
    padding-5: $padding-5,
    padding-10: $padding-10,
    padding-15: $padding-15,
    padding-20: $padding-20,
    padding-25: $padding-25,
    padding-30: $padding-30,
    padding-35: $padding-35,
    padding-40: $padding-40,
); 

$fonts-map: (
    section-title: $section-title,
    font-xs: $font-xs,
    font-s: $font-s,
    font-m: $font-m,
    font-l: $font-l,
    font-xl: $font-xl,
    font-xxl: $font-xxl
);

$variables-map: map-merge($fonts-map, $colors-map);
$variables-map: map-merge($paddings-map, $variables-map);

@import "./_mixins.scss";
