/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Lato|Bungee|Source+Code+Pro|Lobster|Shrikhand");
@import "./_variables.scss";

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  font-family: $lato;
  background-color: cssvar(stable);
}

.feature-title {
  @include section-title();
}

.container {
  padding: cssvar(padding-20);
}