@import '../../../styles/variables';

#it-xp-feature {
    background: url("../../../assets/green_board.jpg") center center no-repeat;
    background-size: cover;
    width: 100%;
    .container {
        .swiper-slide {
            .card-container {
                display: grid;
                grid-template-columns: 25% 25% 25% 25%;
                grid-row-gap: cssvar(padding-20);
                justify-items: center;
            }
        }
    }
}