@import '../../../styles/variables';

.container {
    @include card-styles();
    min-height: 240px;
    .card-header { 
        display: flex;
        margin-bottom: cssvar(padding-20);
        .card-title {
            flex: 1;
            font-size: cssvar(font-l);
            font-weight: bold;
        }
        .card-link {
            :hover {
                transform: scale(1.2);
                // TODO: fix this animation
                animation: all 2s linear;
            }
            a {
                color: cssvar(purple);
            }
        }
    }
    .card-content {
        .description {
            text-align: justify;
            margin-bottom: cssvar(padding-15);
        }  
    }
    .card-footer {
        .technologies-container {
            display: flex;
            flex-wrap: wrap;
            .technology {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: cssvar(padding-5);
                margin-top: cssvar(padding-5);
                font-size: cssvar(font-s);
                background-color: cssvar(dark);
                color: cssvar(white);
                padding: cssvar(padding-5);
                border-radius: cssvar(padding-10);
            }
        }   
    }
}